body {
  background-color: #e9dce597;
}

.image-container {
  background-image: url("../media/neutral - cropped.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  display: block;
  margin: 50px auto 20px;
  max-width: 600px;
  padding: 25px 25px;
}

.text-container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin: 25px 25px;
  max-width: 90%;
  padding: 30px 30px;
}

h1 {
  color: #6c4f85;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  margin: 15px 0;
  text-align: center;
}

select {
  border-radius: 6px;
  border-style: none;
  color: #2e4057;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 20px auto;
  padding: 10px;
  width: 80%;
}

h2 {
  color: #6c4f85;
  font-family: "Ubuntu Mono", monospace;
  font-size: 42px;
  margin: 0 0 5px;
}

select:hover {
  cursor: pointer;
}

.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}

.city:last-child {
  border: none;
}

.date {
  color: #2e4057;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0 0 3px 0;
}

.time {
  color: #6c4f85;
  font-family: "Ubuntu Mono", monospace;
  font-size: 44px;
  font-weight: 600;
  margin-top: 6px;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
}

a {
  color: #f7567c;
}

#back {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
}

footer {
  color: #2e4057;
  font-family: courier;
  font-size: 13px;
  margin: 0 0 30px 0;
  text-align: center;
}
